# 웹 빌드 제외
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# IDE 설정
.idea/
.vscode/
*.iml

# 플랫폼 특정 폴더
/android/
/ios/
/linux/
/macos/
/windows/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
.env